{% extends 'base.html' %}

{% block title %}
  {{ block.super }} | Cadastro
{% endblock %}

{% block content %}
  <br>
  <h1>Cadastro</h1>
  <br>
  <div class="col-md-6 col-lg-4">
    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %}

      {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Erro!</strong> Por favor, corrija os erros abaixo.
          <ul>
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ field.label }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      {% endif %}

      {{ form.as_p }}

      <button type="submit" class="btn btn-primary">Cadastrar-se</button>
    </form>
  </div>
{% endblock %}