body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F68B48;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px; /* Ajuste conforme necessário */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#main-section {
    text-align: center;
    padding: 50px 0;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.card {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Define a altura máxima para as imagens */
    object-fit: cover; /* Garante que a imagem cubra a área disponível */
    border-radius: 5px;
}

.carousel-item img {
    width: 100%; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 400px; /* Define a altura máxima para as imagens do carrossel */
    object-fit: cover; /* Garante que a imagem cubra a área disponível */
}

.footer {
    background-color: #705641;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    display: flex;
    background-color: #ffffff;
}

.footer-info div {
    margin-right: 20px;
}

.footer-logo img {
    width: 100px;
    background-color: #ffffff;
}

.col-md-4 {
    color: white;
}

/* Botão personalizado */
.btn-custom {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff; /* Cor do texto */
    background-color: #705641; /* Cor de fundo */
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}

.btn-custom:hover {
    background-color: #3f3024; /* Cor de fundo ao passar o mouse */
    text-decoration: none;
    color: #fff;
}

.texto{
    margin-right: 10px; /* Espaçamento à direita */
    color: white; /* Cor do texto */
    line-height: 38px;
}